LAST_ENV_INIT=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

VAULT_KEY=ask_user(note="Run `vault key` to generate a fresh key.", default=f"{"0" * 86}==")
NGROK_AUTHTOKEN=ask_user(note="Please add Ngrok Auth Token.")
NGROK_ENDPOINT=ask_user(note="Please add Ngrok End Point.")

ENVIRONMENT=ask_user(note="Local: local. Sandbox: uat. Deployed: prod.")

upstox_connector.host=ask_user(note="Use 0.0.0.0 for VMs and 127.0.0.1 for local dev.", default="127.0.0.1")
upstox_connector.port=("8765")
upstox_connector.stable=("v1")
upstox_connector.ngrok_token=ask_user(message="Please enter Ngrok Token")
upstox_connector.ngrok_end_point=ask_user(message="Please enter Ngrok End Point")
upstox_connector.upstox.cache_dir=ask_user(default="./temp/upstox_cache")
upstox_connector.upstox.anaytics_token=ask_user(message="Please enter Upstox Analytics Token")
upstox_connector.upstox.sandbox.api_key=ask_user(message="Please enter Upstox Api Key", note="This is skippable.")
upstox_connector.upstox.sandbox.api_secret=ask_user(message="Please enter Upstox Api Secret", note="This is skippable.")
upstox_connector.upstox.sandbox.token=ask_user(message="Please enter Upstox Access Token")
upstox_connector.upstox.instruments.complete=ask_user(default="https://assets.upstox.com/market-quote/instruments/exchange/complete.json.gz")
upstox_connector.upstox.instruments.nse=ask_user(default="https://assets.upstox.com/market-quote/instruments/exchange/NSE.json.gz")
upstox_connector.upstox.instruments.bse=ask_user(default="https://assets.upstox.com/market-quote/instruments/exchange/BSE.json.gz")
upstox_connector.upstox.instruments.mcx=ask_user(default="https://assets.upstox.com/market-quote/instruments/exchange/MCX.json.gz")

gai_providers.openrouter.free_token=ask_user()
gai_providers.openrouter.budget_token=ask_user(default=None)
gai_providers.openrouter.infinite_token=ask_user(default=None)
