LAST_ENV_INIT=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
VAULT_KEY=ask_user(note="Run `vault key` to generate a fresh key.", default="00000000000000000000000000000000000000000000000000000000000000000000000000000000000000==")

EXAMPLE_WITH_MESSAGE=ask_user(message="This is a custom message")
EXAMPLE_WITH_A_NOTE=ask_user(note="This is a custom note.")
EXAMPLE_WITH_DEFAULT=ask_user(default="123456")
EXAMPLE_WITH_VALUE=("A fixed value")
